{% extends "base.html" %}

{% block title %}acerca de {% endblock %}

{% block info %}
 <div class="container text-center bg bg-dark-subtle">
    <div class="container text-center bg-danger" >
      <h1>acerca de amor</h5>
    </div>
  </div>
 <div class="container text bg-light">

    <h2>que es el amor?</h2>
    <H3>💞 El Amor</H3>
    <p>El amor es una emoción muy bonita que se da entre dos personas.
      Para dar, tienes que estar dispuesto a recibir; y si estás dispuesto a recibir, también debes estar dispuesto a
      dar.
      Esto significa que el amor es una emoción compartida: si solo uno la siente, no va a funcionar.

      El amor es una magia, no una simple fantasía.
      Un verdadero amor se encuentra después del enamoramiento, lo cual significa que deben pasar al menos unos tres
      meses. Si después de ese tiempo ambos siguen dispuestos a soportarse, a comprenderse y a estar juntos, entonces
      eso es amor, o el inicio de algo realmente serio.

      En ese punto ya no hay hormonas de por medio, y es cuando te enamoras de todo su ser: de sus ojos, su cabello, de
      todo lo que es y de todo lo que representa.
      No solo importa si tiene una cara bonita, sino también cómo piensa, cómo te apoya y cómo te hace sentir.

      Si es amor real, conocerás lo que es ser feliz por primera vez. ❤️</p>
    <h1>lo bueno del amor?</h1>
    <p>Lo bueno del amor es que tienes con quién vivir tu vida.
      Cuando encuentras a la persona indicada, todo se convierte en algo mejor.
      Los malos momentos se transforman en aprendizajes,
      y los buenos momentos se vuelven increíbles.

      Todo esto sucede porque sabes que alguien te ama de forma incondicional,
      y con eso, todo se convierte en bueno… o al menos, en menos malo.
      ¿Por qué? Porque así es el amor:
      tener a esa persona es tenerlo todo, incluso cuando no tienes nada.

      El amor es tener apoyo en todo momento,
      sin condiciones, sin peros y con todo el corazón. ❤️</p>
    <h1>lo malo?</h1>
    <p>Como en todo, hay cosas negativas; pero si es amor real, siempre se lograrán arreglar las cosas de una u otra
      forma, sin que ninguno de los dos salga perjudicado.
      En una relación verdadera, ambos buscan el bienestar del otro, porque el amor genuino no lastima, sino que
      construye.

      Cuando realmente amas a alguien, lo demuestras buscando su felicidad, incluso en los momentos difíciles.</p>
    <h3>tip:</h3>
    <p>siempre arreglar los problemas esa misma noche nadie te asegura que esa persona estara al dia siguiente a tu
      ladop</p>
    <h1>yo me veo de grande ?</h1>
    <p>Yo, de grande, me veo trabajando como doctor, junto a mi hermosa esposa y nuestros cuatro hijos.
      Me imagino siendo feliz, agradecido por haber encontrado el amor desde muy joven.
      Porque cuando encuentras a la persona correcta, todo en la vida tiene sentido, y cada día se convierte en una
      nueva oportunidad para amar y ser feliz. 💞</p>
    <h3>foto de unos enamorados de pr hay</h3>
    
    <img src="{{url_for('static',filename='imagenes/amor.jpg' )}}" alt="amor">

    <h1>DelunaCastruiSantiago</h1>
            {% endblock %}