{% extends "base.html" %}

{% block title %}inicio de secion {% endblock %}


{% block info %}

        <form>
        </div>
        <div class="mb-3">
            <input type="gemail"  required neme="contraseña_numero" id="contraseña_numero" class="form-control" placeholder="Número de celular o correo electrónico">
        </div>
        <div class="mb-3">
            <input type="password"   required neme="contraseña" id="contraseña" class="form-control" placeholder="Contraseña ">
        </div>
        <p class="text-muted">
            Es posible que te robe la identidad y la usemos para trata de blancas gracias por su comprencion 
        </p>
        <div class="d-prymary mb-3">
            <button type="submit" class="btn btn-success">inicia secion</button>
        </div>
    </form>
</main>  

            {% endblock %}